body{
    background: #020024 no-repeat;
    font-family: Helvetica, sans-serif;
    font-size: 14px ;
    margin: 200px;
}

button {  
    display: block;
    margin: 0 auto;
    font-size: 3rem;
    width: 180px;
    height: 180px;
    border-radius: 180px;
    border-color: #f1c40f;
    background-image: -webkit-linear-gradient(45deg, #f1c40f 50%, transparent 50%);
    background-image: linear-gradient(45deg, #f1c40f 50%, transparent 50%);
    background-position: 100%;
    background-size: 400%;
    -webkit-transition: background 300ms ease-in-out;
    transition: background 300ms ease-in-out;
}

button:hover {
    background-position: 0;
}

p {
    text-align: center;
    color: #fff;
    font-family: Helvetica, sans-serif;
    font-size: 24px;
}




